docbook/docbookxi.dtd


<!-- GENERAL ENTITIES -->
<!ENTITY GNU "<ulink url='http://www.gnu.org'>GNU</ulink>">
<!ENTITY IC "<ulink url='http://www.icdevgroup.org'>Interchange</ulink>">
<!ENTITY RH "<ulink url='http://www.redhat.com'>Red Hat</ulink>">
<!ENTITY DEB "<ulink url='http://www.debian.org'>Debian</ulink>">
<!ENTITY DEBGNU "<ulink url='http://www.debian.org'>Debian GNU</ulink>">
<!ENTITY ICDL "<ulink url='http://www.icdevgroup.org/i/dev/download.html'>download</ulink>">
<!ENTITY ICCVS "<ulink url='http://www.icdevgroup.org/i/dev/cvs.html'>CVS</ulink>">
<!ENTITY APACHE "<ulink url='http://www.apache.org/'>Apache</ulink>">

<!-- ENTITIES USED IN AUTOGENERATED DOCS MOSTLY -->
<!ENTITY DEF_SYNOPSIS  "No synopsis line">
<!ENTITY DEF_DESCRIPTION "No more specific information was supplied. We know
this piece is missing and we'll try to update it.">
<!ENTITY DEF_EXAMPLE "No examples are available at this time. We do consider this a problem and will try to supply some.">
<!ENTITY DEF_NOTES "None.">
<!ENTITY DEF_BUGS "<para>There are no known bugs.</para><para>If you believe you've found a bug, please write to interchange-users@icdevgroup.org or use <application>reportbug</application> to submit bugs in Debian GNU.</para>">
<!ENTITY DEF_SYMBOLTYPE "No symbol type information, this is strange.">
<!ENTITY DEF_SOURCE 'No source information.'>
<!ENTITY DEF_AUTHOR "The <ulink url='http://www.icdevgroup.org'>Interchange Development Group</ulink>">
<!ENTITY DEF_COPYRIGHT "
<para>
Copyright &copy; 2004 The Interchange Development Group
</para> <para>
This documentation and the source code are free; you can redistribute
them and/or modify them
under the terms of the GNU General Public License as published by the
Free Software Foundation; either version 2 of the License, or (at your
option) any later version.</para>">
<!ENTITY DEF_SEEALSO "No information.">
<!ENTITY DEF_PURPOSE "description line missing">

<!-- ENTITIES THAT SUPPLEMENT USER'S TEXT -->
<!ENTITY ICDEVGROUP "<ulink url='http://www.icdevgroup.org'>Interchange Development Group</ulink>">

<!-- ENTITIES THAT DESCRIBE SYMBOLS -->
<!ENTITY SYMBOL_GLOBVAR "
<para>
Global variables ....
</para>
">
<!ENTITY SYMBOL_PRAGMA "
<para>
Pragmas are used to control various aspects of page and data parsing and display. Values can be defined catalog-wide, page-wide and ITL-block wide.
</para><para>
To define a pragma catalog-wide, use the <option>Pragma</option> directive: <code>Pragma NAME [0]</code>.
</para><para>
To define a pragma value for a particular page, use the <tag>pragma</tag> tag anywhere on a page: <code>[pragma NAME]</code> to enable, or
<code>[pragma NAME 0]</code> to disable.
</para><para>
To define a pragma for a small ITL block inside the page, enclose the block in <code>[tag pragma NAME]1[/tag]...[tag pragma NAME]0[/tag]</code>.
</para><para>
Starting with Interchange 5.0, the <code>$::Pragma->{name}</code> syntax is used in the Interchange source instead of the old <code>$Vend::Cfg->{Pragma}{name}</code>.
</para>
">

<!-- Remove MsgSet -->
<!ENTITY % compound.class "procedure|sidebar">
<!ENTITY % msgset.content.module "IGNORE">


<!-- XInclude element -->
<!ELEMENT xi:include (xi:fallback?)>
<!ATTLIST xi:include
    xmlns:xi        CDATA       #FIXED    "http://www.w3.org/2003/XInclude"
    href            CDATA       #IMPLIED
    parse           (xml|text)  "text"
    xpointer        CDATA       #IMPLIED
    encoding        CDATA       #IMPLIED
    accept          CDATA       #IMPLIED
    accept-charset  CDATA       #IMPLIED
    accept-language CDATA       #IMPLIED
>

<!ELEMENT xi:fallback ANY>
<!ATTLIST xi:fallback
    xmlns:xi   CDATA   #FIXED   "http://www.w3.org/2003/XInclude"
>
<!ENTITY % local.common.attrib  "xml:base  CDATA  #IMPLIED">



<!ENTITY % local.para.char.mix "|xi:include">
<!ENTITY % local.tech.char.class "|tag|pragma">

<!-- Load DocBook -->
<!ENTITY % DocBookDTD PUBLIC "-//OASIS//DTD DocBook XML V4.2//EN"
	"file:///usr/share/xml/docbook/schema/dtd/4.2/docbookx.dtd"> %DocBookDTD;


<!-- tag element -->
<!ENTITY % tag.module "INCLUDE">
<![%tag.module;[
<!ENTITY % local.tag.attrib "">
<!ENTITY % tag.role.attrib "%role.attrib;">

<!ENTITY % tag.element "INCLUDE">
<![%tag.element;[
<!ELEMENT tag %ho; (%para.char.mix;|%para.mix;)*>
<!--end of tag.element-->]]>

<!ENTITY % tag.attlist "INCLUDE">
<![%tag.attlist;[
<!ATTLIST tag
    %moreinfo.attrib;
    %common.attrib;
    %tag.role.attrib;
    %local.tag.attrib;
>
<!--end of tag.attlist-->]]>
<!--end of tag.module-->]]>

<!-- pragma element -->
<!ENTITY % pragma.module "INCLUDE">
<![%pragma.module;[
<!ENTITY % local.pragma.attrib "">
<!ENTITY % pragma.role.attrib "%role.attrib;">

<!ENTITY % pragma.element "INCLUDE">
<![%pragma.element;[
<!ELEMENT pragma %ho; (%para.char.mix;|%para.mix;)*>
<!--end of pragma.element-->]]>

<!ENTITY % pragma.attlist "INCLUDE">
<![%pragma.attlist;[
<!ATTLIST pragma
    %moreinfo.attrib;
    %common.attrib;
    %pragma.role.attrib;
    %local.pragma.attrib;
>
<!--end of pragma.attlist-->]]>
<!--end of pragma.module-->]]>
