docbook/docbookxi.dtd


<!-- ENTITIES -->
<!ENTITY GNU "<ulink url='http://www.gnu.org'>GNU</ulink>">
<!ENTITY IC "<ulink url='http://www.icdevgroup.org'>Interchange</ulink>">
<!ENTITY RH "<ulink url='http://www.redhat.com'>Red Hat</ulink>">
<!ENTITY DEB "<ulink url='http://www.debian.org'>Debian</ulink>">
<!ENTITY DEBGNU "<ulink url='http://www.debian.org'>Debian GNU</ulink>">
<!ENTITY ICDL "<ulink url='http://www.icdevgroup.org/i/dev/download.html'>download</ulink>">
<!ENTITY ICCVS "<ulink url='http://www.icdevgroup.org/i/dev/cvs.html'>CVS</ulink>">
<!ENTITY APACHE "<ulink url='http://www.apache.org/'>Apache</ulink>">

<!-- Remove MsgSet -->
<!ENTITY % compound.class "procedure|sidebar">
<!ENTITY % msgset.content.module "IGNORE">


<!-- XInclude element -->
<!ELEMENT xi:include (xi:fallback?)>
<!ATTLIST xi:include
    xmlns:xi        CDATA       #FIXED    "http://www.w3.org/2003/XInclude"
    href            CDATA       #IMPLIED
    parse           (xml|text)  "text"
    xpointer        CDATA       #IMPLIED
    encoding        CDATA       #IMPLIED
    accept          CDATA       #IMPLIED
    accept-charset  CDATA       #IMPLIED
    accept-language CDATA       #IMPLIED
>

<!ELEMENT xi:fallback ANY>
<!ATTLIST xi:fallback
    xmlns:xi   CDATA   #FIXED   "http://www.w3.org/2003/XInclude"
>
<!ENTITY % local.common.attrib  "xml:base  CDATA  #IMPLIED">



<!ENTITY % local.para.char.mix "|xi:include">
<!ENTITY % local.tech.char.class "|tag|pragma">

<!-- Load DocBook -->
<!ENTITY % DocBookDTD PUBLIC "-//OASIS//DTD DocBook XML V4.2//EN"
	"file:///usr/share/xml/docbook/schema/dtd/4.2/docbookx.dtd"> %DocBookDTD;


<!-- tag element -->
<!ENTITY % tag.module "INCLUDE">
<![%tag.module;[
<!ENTITY % local.tag.attrib "">
<!ENTITY % tag.role.attrib "%role.attrib;">

<!ENTITY % tag.element "INCLUDE">
<![%tag.element;[
<!ELEMENT tag %ho; (%para.char.mix;|%para.mix;)*>
<!--end of tag.element-->]]>

<!ENTITY % tag.attlist "INCLUDE">
<![%tag.attlist;[
<!ATTLIST tag
    %moreinfo.attrib;
    %common.attrib;
    %tag.role.attrib;
    %local.tag.attrib;
>
<!--end of tag.attlist-->]]>
<!--end of tag.module-->]]>

<!-- pragma element -->
<!ENTITY % pragma.module "INCLUDE">
<![%pragma.module;[
<!ENTITY % local.pragma.attrib "">
<!ENTITY % pragma.role.attrib "%role.attrib;">

<!ENTITY % pragma.element "INCLUDE">
<![%pragma.element;[
<!ELEMENT pragma %ho; (%para.char.mix;|%para.mix;)*>
<!--end of pragma.element-->]]>

<!ENTITY % pragma.attlist "INCLUDE">
<![%pragma.attlist;[
<!ATTLIST pragma
    %moreinfo.attrib;
    %common.attrib;
    %pragma.role.attrib;
    %local.pragma.attrib;
>
<!--end of pragma.attlist-->]]>
<!--end of pragma.module-->]]>
